/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*padding-bottom: 100px !important;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 80px;*/
  background-color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer-content {
  padding: 20px 30px;
}
body > div > .container {
  padding: 100px 15px 120px;
}
.footer-cntent {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-head {
	padding: 20px 30px;
}
.navbar-default {
	background-color: #fff;
}