<div class="container text-center">
  <div class="loader">
    <i class="fa icon-loading2 fa-spin"></i>
  </div>
  <h2 class="text-scale">Please connect to <strong>MevenIT</strong> wifi</h2>
  <p>
    open your browser on <strong>http://10.5.5.1/</strong> to configure the device.
  </p>
</div>
<footer class="footer">
  <div class="footer-content text-center">
    <small class="text-muted block">
        ©2015 <strong>MEVEN</strong>.IT
      </small>
  </div>
</footer>
<script>
   setTimeout(function(){
      window.location='/#/jump';
   }, 60000);
</script>
